<!DOCTYPE html>
 {% load static %} 
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Home page</title>
    <link rel="stylesheet" href="{% static 'css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    {% block corecss %}
    <link rel="stylesheet" href="{% static 'css/core.css' %}">
    {% endblock corecss %}
</head>
<body>
  <div class="container-fluid bg-dark">
      <div class="row">
       <div class="col-sm-2">
       {% include 'navbar.html' %}
       </div>
       <div class="col-sm-10">
  
       </div>
      </div>
  
  </div>
  
  <script src="{% static 'js/jqueryP.js' %}"></script> 
  <script src="{% static 'js/bootstrap.js' %}"></script> 
  <script src="{% static 'js/popper.js' %}"></script>
  <script src="{% static 'js/all.min.js' %}"></script> 
</body>
</html>
