{% extends 'base.html' %} 
{% load static %}
{% block content %}
<div class=" mt-5">
<div class="text-center">
<img src="{% static 'image/khan.jpg' %}" class="img-thumbnail" alt="profile" width="250px" height="150px">
</div>
<div class="mt-5 text-white mx-5 text-justify">
<h1 clas="font-weight-bold st-font">Hello,</h1>
<div class="px-4 line-hight:2rem;">
<p style="text-indent:100px;"> I am <b clas="text text-warning ">Ishtehar Khan</b> I am from Gorakhpur.
Recently I have done my B.Tech in Information Technology from Buddha institute of technology Gorakhpur With 66 % score.</p>
<p>I have done my 12th and 10th from state board with aggregate of 70 and 80 %.
And my hobbies are explore new areas, listening songs, watching movies.
<p>My strength length_is quickly I can make a relation with others
I am a quick learner, I am very punctual and I have a positive attitude towards my carrier and life
</p>My weakness is I am not feeling well until finished my works at per given time.
Little bit of shyness, overthinking 
</p>
</div>
</div>
<div class="text-center">
<a href="" class="btn btn-outline-warning my-3 mr-6">Hire Me</a>
<a href="" class="btn btn-outline-info my-3">Contact</a>
</div>
</div>
{% endblock content %}